
#entete{
    margin: auto;
    border-radius: 5px;
    background: #d2483c;
    text-align: center;
    cursor: pointer;
    font-size: 19px;
    width: 50%;
    height: 51px;
    padding: 0;
    color: #fff;
    border: 0;
    outline:0;
}

.auth{
	margin: 27px auto 0;
	position: relative;
	width: 800px;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
}
.auth a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
.auth .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}

nav {
	margin: 27px auto 0;

	position: relative;
	width: 800px;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 100px;
}
a:nth-child(2) {
	width: 110px;
}
a:nth-child(3) {
	width: 100px;
}
a:nth-child(4) {
	width: 160px;
}
a:nth-child(5) {
	width: 120px;
}
a:nth-child(6) {
	width: 120px;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #1abc9c;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: #e74c3c;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 210px;
	background-color: #3498db;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 160px;
	left: 310px;
	background-color: #9b59b6;
}
nav .start-contact, a:nth-child(5):hover~.animation {
	width: 120px;
	left: 470px;
	background-color: #e67e22;
}
nav .start-contac, a:nth-child(6):hover~.animation {
	width: 120px;
	left: 570px;
	background-color: #7ca0ec;
}
body {
	font-size: 20px;
	font-family: sans-serif;
	background: #2c3e50;
}

.article
{
    color: #1abc9c;
    text-shadow: #2c3e50;
	margin: 10px;
	padding: 10px;
	border:5px double black;
	background-color: rgba(179, 216, 221, 0.1);
}

.article ul li p
{
	margin: 10px;
	padding: 10px;
	background-color: rgb(255, 255, 255);
}


.article #cont{
    margin: 10px;
	padding: 10px;
	background-color: rgb(255, 255, 255);
}

