.pages{
    position: absolute;
    margin-left: 510px;
}

.pages a {
    width: auto;
	text-decoration: none;
	display: inline-block;
	padding: 8px 16px;
  }
  
  .pages a:hover {
	background-color: rgb(90, 197, 247);
	color: black;
  }
  
  .pages .previous {
	background-color: #f1f1f1;
	color: black;
  }
  
  .pages .next {
	background-color: #04AA6D;
	color: white;
  }